node_modules
dist/index.js
dist/index.umd.js
.vscode
test/test.js.map
test/test.js
test/test.d.ts
test/worker.js.map
test/worker.js
test/worker.d.ts
src/vfsUtil.js
src/vfsUtil.js.map
src/vfsUtil.d.ts
test/test.webpack.js
package-lock.json
src/fs/LSFS.old.js
src/fs/LSFS.js
src/fs/LSFS.js.map
src/index.js
src/index.js.map
src/fs/LSFS.d.ts
src/index.d.ts
src/fs/StorageWrapper.d.ts
src/fs/StorageWrapper.js
src/fs/StorageWrapper.js.map
test/worker.webpack.js
.tsbuildinfo
src/pathUtil2.d.ts
src/pathUtil2.js
src/pathUtil2.js.map
src/types.d.ts
src/types.js
src/types.js.map
src/errors.d.ts
src/errors.js
src/errors.js.map
src/fs/RootFS.d.ts
src/fs/RootFS.js
src/fs/RootFS.js.map
src/fs/idle-timer.d.ts
src/fs/idle-timer.js
src/fs/idle-timer.js.map
